.game-container {
	position: absolute; /* Изменено с absolute на relative */
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('https://raw.githubusercontent.com/miles101armales/av-tap-game-frontend/main/public/banner-342.png');
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden; /* Чтобы обрезать выходящие за пределы элементы */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer; /* Перенесли cursor сюда */
  }
/* Установка Montserrat как дефолтного шрифта */
body {
    font-family: 'Montserrat', sans-serif;
}

.overlay-text {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
  
  .score {
	font-size: 24px;
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
  }
  
  .clickable-area {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .clickable-object {
	position: relative;
  }
  
  .clickable-object img {
	width: 300px;
	transition: transform 0.2s;
  }
  
  .clickable-object:active {
	transform: scale(0.95);
  }
  
  .clickable-object .overlay-text {
	position: absolute;
	top: 80%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 15px;
	text-shadow: 1px 1px 2px #000;
	pointer-events: none;
  }

  .click-text {
	margin-top: 10px;
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
  }
  
  @media (max-width: 600px) {
	.clickable-object img {
		width: 200px; /* Изменение размера картинки на мобильных */
	  }
	
	  .click-text {
		font-size: 14px; /* Уменьшение размера текста на мобильных */
	  }
  
	.score {
	  font-size: 20px;
	}
  }
  
  .leaf-container {
	position: fixed; /* Изменено на absolute */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none; /* Чтобы клики проходили через элемент */
  }

  .leaf {
	--rotate: 360deg;
	--translateX: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	width: 50px;
	height: 50px;
	background-image: url('https://raw.githubusercontent.com/miles101armales/av-tap-game-frontend/main/public/Emojione_1F4B8.svg.png');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	transform: translateX(-50%) translateY(0) rotate(0deg);
	will-change: transform, opacity;
  }
  
  @keyframes fall {
	0% {
	  opacity: 1;
	  transform: translateX(0) translateY(0) rotate(0);
	}
	100% {
		opacity: 0;
		transform: translateX(var(--translateX)) translateY(100vh) rotate(var(--rotate));
	  }
  }
  
  .animate {
	animation: fall 3s ease-in forwards;
  }