.game-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('https://raw.githubusercontent.com/miles101armales/av-tap-game-frontend/main/src/assets/banner-342.png');
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden; /* Чтобы обрезать выходящие за пределы элементы */
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  .score {
	font-size: 24px;
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
  }
  
  .clickable-area {
	width: 100%;
	height: 100%;
	cursor: pointer;

	display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .clickable-object {
	position: relative;
  }
  
  .clickable-object img {
	justify-self: center;
	width: 200px;
	transition: transform 0.2s;
  }
  
  .clickable-object .overlay-text {
	position: absolute;
	top: 80%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 15px;
	text-shadow: 1px 1px 2px #000;
	pointer-events: none;
  }
  
  .clickable-object.clicked img {
	animation: clickAnimation 0.09s;
  }
  
  @keyframes clickAnimation {
	0% {
	  transform: scale(1);
	  filter: drop-shadow(0 0 10px yellow);
	}
	50% {
	  transform: scale(0.9);
	  filter: drop-shadow(0 0 20px yellow);
	}
	100% {
	  transform: scale(1);
	  filter: drop-shadow(0 0 10px yellow);
	}
  }
  
  .money-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 10%;
	background-image: url('https://raw.githubusercontent.com/miles101armales/av-tap-game-frontend/main/src/assets/Emojione_1F4B8.svg.png');
	background-size: contain;
	background-repeat: repeat;
	animation: fall 1s linear;
	pointer-events: none;
  }
  
  @keyframes fall {
	0% {
	  background-position: 0 -100%;
	}
	100% {
	  background-position: 0 100%;
	}
  }

  @media (max-width: 600px) {
	.clickable-object img {
	  width: 150px;
	}
  
	.score {
	  font-size: 20px;
	}
  
	.clickable-object .overlay-text {
	  font-size: 10px;
	}
  }